<?xml version="1.0"?>
<model>
  <name>multirotor</name>
  <version>1.0</version>
  <sdf version='1.6'>multirotor.sdf</sdf>

  <author>
   <name>Hsieh Ming Fong</name>
   <email></email>
  </author>

  <description>
    A model based on Iris Quadrotor which have special prop position.
  </description>
</model>
